<link rel="stylesheet" href="../../static/navbar.css">
<header>
        <nav>
            <ul id="navbar">
                <li id="name"><a href="/">WeatherIN</a></li>
                <li id="home" class="common"><a href="/">Home</a></li>
                <li id="about" class="common"><a href="/about">About</a></li>
            </ul>
        </nav>
</header>