@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(21, 24, 25);
}
#footer{
    height: 4vh;
    margin-top: auto;
    background-color: white;
    color: rgb(0, 0, 0);
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
}
main{
    height: 85.8vh;
}