@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(21, 24, 25);
}
/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60vw;
    background: #f1f1f1;
}
  
/* Style the submit button */
form.example button {
    float: left;
    width: 7vw;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
form.example button:hover {
    background: #0b7dda;
}
#formcont{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 100vw;
    justify-content: center;
    margin-top: 3vh;
}
#outer{
    display: flex;
    width: 100vw;
    /* border: 2px solid yellow; */
    margin-top: 7vh;
}
.box{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-items: center;
    align-items: center;
    height: 50vh;
    width: 40vw;
    margin: auto;
    color: white;
    font-size: 2.5rem;
    margin-top: 5vh;
}
